/* Banner text style */
.hero {
    height: 600px;
}





/* Nav Responsive */
@media  screen and (min-width:300px) and (max-width:425px){
    #nav-1{
        display: none;
    }
    .hero {
        height: 600px;
    }
    
    .carousel-item{
        justify-items: center;
        padding: 10px;

    }
    
}